html{
    background-color: $bg-color;
    font-family: 'Ranchers', cursive;
}
body{
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{

    max-width: 20em;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box__frase{

    position: absolute;
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
    top: 0%;
    width: 100%;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 900;
}

.random{
    position: relative;
    min-width: 20em;
}

.box-content{
    position: absolute;
    top:0;
    left: 0;
    text-align: center;
    width: 100%;
}

.number{
    padding: 0;
    margin: 0;
    color: $black-color;
    text-transform: uppercase;
    font-size: 10em;
    font-weight: 100;
}

.frase{
   
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
    left: 25%;
    right: 25%;
    padding: 0;
    margin: 0;
}

.button{

    position: absolute;
    background-color: $primary-color;
    color: $secondary-color;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 25px;
    bottom: 0;
    left: 0;
    border:0;
    transition: background-color .3s ease-in-out;
    width: 100%;

    &:hover{
        background-color: $primary-color-hover;
    }
}

.block{

    display: block;
}

.box__number{
    margin-bottom: 7em;
    .number{
        color: $primary-color;
    }
}

form{

    display: flex;
    align-items: center;
    justify-content: center;

    span{
        font-size: 4em;
        font-weight: 900;
    }
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: $primary-color;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: .8em;

    p{
        color: $secondary-color;
        padding: 5px;
        margin: 0;
    }

    a{
        color: $secondary-color;
        padding: 0;
        margin: 0;
    }
}